$height: 6rem;

.container {
  width: clamp(600px);
  padding: 1rem;
  background-color: #fafafa;
  box-shadow: 3px 3px 7px 1px #0001;
}

.container:hover {
  cursor: pointer;
}

.author {
  font-size: 1.1rem;
  font-weight: normal;
  color: #545c52;
}

.description {
  font-size: 1rem;
  font-weight: normal;
  color: #545c52;
  margin: 0;
}
